<!DOCTYPE html>
<html>

  <head>
    <link rel="icon" href="https://blog.n4o.xyz/favicon.png">
    <title>N4O WebFiles - Whoops! 404</title>

    <meta name="description" content="blog.n4o.xyz files hosting but link not found :(">

    <style type="text/css">
      body {
        position: fixed;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        left: 50%;
        top: 50%;
        margin-left: -150px;
        margin-top: -250px;
        text-align: center;
        background-color: rgb(237,237,237);
        color: rgb(100, 100, 100)
      }

    </style>

    <body>
      <h2><img src="https://static.thenounproject.com/png/801773-200.png" alt="Logo" /></h2>
      <h1>{{ errcode }}</h1>
      <h3><b>{{ errmsg }}</b></h3>
      <p><strong><font color="darkred">{{ extrainfo }}</strong></font><br />Please contact this website administrator<br />Discord: N4O#8868 | email: admin@n4o.xyz</p>
      <span style="font-size: 10pt"><a href="https://blog.n4o.xyz">web</a> || <a href="https://github.com/noaione/noaione.github.io">manage</a> || <a href="{{ rooturl }}login">login</a> || <a href="{{ rooturl }}register">register</a></span>
    </body>
  </head>

</html>