<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="https://blog.n4o.xyz/favicon.png">
  <title>N4O - WebFiles</title>
  <meta name="description" content="n4o meme hosting for image and file serving">
<style type="text/css">
body {
    width: 600px;
    margin: 10px auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
</style>
<body>
<p>nothing here :(</p>
<h4><a href="https://blog.n4o.xyz">web</a> | <a href="https://github.com/noaione/noaione.github.io">manage</a> | <a href="{{ rooturl }}login">login</a> | <a href="{{ rooturl2 }}register">register</a></h4>
</body>
</head>
</html>