<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="https://blog.n4o.xyz/favicon.png">
  <title>N4O WebFiles Main Page</title>

  <meta name="description" content="blog.n4o.xyz files hosting">

<style type="text/css">
body {
    width: 900px;
    margin: 10px auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
</style>
</head>
<body>
<p><img src="https://i.warosu.org/data/biz/img/0022/71/1496517555527.jpg" width=200 height=200 alt="Logo" /></p>
<h1>N4O WebFiles Main Page</h1>
<p>Seems like you get to my image/files web hosting</p>
<p>Public shortener: `curl -F="url=your.long/url/that/you/want/to/shorten" {{ rooturl }}`
<h4><a href="https://blog.n4o.xyz">web</a> | <a href="https://github.com/noaione/noaione.github.io">manage</a> | <a href="{{ rooturl2 }}login">login</a> | <a href="{{ rooturl3 }}register">register</a></h4>
</body>
</html>